# Build outputs
/dist
/tmp
/out-tsc
/bazel-out
/.angular

# Dependencies
/node_modules
/socket-server/node_modules/

# Logs
/logs
*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*
pnpm-debug.log*

# Coverage and reports
/coverage
/eslint-report.json
/.scannerwork/

# Runtime/data caches
/.sass-cache
/connect.lock
/libpeerconnection.log
/testem.log
/typings

# IDEs and editors
/.idea
/.vscode
/.history
/.project
/.classpath
/.c9
/.settings
*.launch
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Tooling/workspace
/.nx
/src/openApi/
