<table>
  <tbody>
  @for (row of board; track row; let rowIndex = $index) {
    <tr>
      @for (cell of row; track cell; let colIndex = $index) {
        <td (click)="fire(rowIndex, colIndex)">
          @switch (cell) {
            @case (BattleShipCellStatus.IDLE) {
              <mat-icon class="text-cyan-500"
                        fontIcon="water"></mat-icon>
            } @case (BattleShipCellStatus.MISS) {
              <mat-icon class="text-orange-500" fontIcon="waves"></mat-icon>
            } @case (BattleShipCellStatus.BOAT) {
              <mat-icon color="primary" fontIcon="directions_boat"></mat-icon>
            } @case (BattleShipCellStatus.HIT) {
              <mat-icon class="text-red-500"
                        fontIcon="crisis_alert"></mat-icon>
            }
          }
        </td>
      }
    </tr>
  }
  </tbody>
</table>
