@use '@angular/material' as mat;
@use 'tailwindcss';

@include mat.core();

html {
  height: 100%;
  @include mat.all-component-themes(mat.define-theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: Roboto,
      plain-family: Roboto,
    ),
  )));
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}
