@use '@angular/material' as mat;
@use 'tailwindcss';

@include mat.core();

html {
  height: 100%;
}

body.light-theme {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body.dark-theme {
  @include mat.theme((
    color: (
      primary: mat.$red-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

.icon-primary {
  color: var(--mat-sys-primary);
}

.icon-tertiary {
  color: var(--mat-sys-tertiary);
}

.icon-warn {
  color: var(--mat-sys-error);
}
