name: Tanuki-workflow

on:
  push:
    branches: [ develop, master ]
    paths-ignore:
      - '**.md'
      - 'docker/**'
      - '.github/workflows/old/**'
      - 'sonar-project.properties'

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      angular: ${{ steps.filter.outputs.angular }}
      socket: ${{ steps.filter.outputs.socket }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            angular:
              - 'src/**'
              - 'angular.json'
              - 'package.json'
              - 'package-lock.json'
              - 'tsconfig.json'
              - 'tailwind.config.js'
              - '.github/workflows/_angular.yml'
            socket:
              - 'socket-server/**'
              - '.github/workflows/_socket.yml'

  dev:
    name: deploy to dev
    needs: changes
    if: ${{ (github.ref == 'refs/heads/develop' || github.base_ref == 'develop') && (needs.changes.outputs.angular == 'true' || needs.changes.outputs.socket == 'true') }}
    uses: ./.github/workflows/_deployment.yml
    secrets: inherit
    with:
      environment: dev
      run_angular: ${{ needs.changes.outputs.angular == 'true' }}
      run_socket: ${{ needs.changes.outputs.socket == 'true' }}
  prod:
    name: deploy to prod
    needs: changes
    if: ${{ (github.ref == 'refs/heads/master' || github.base_ref == 'master') && (needs.changes.outputs.angular == 'true' || needs.changes.outputs.socket == 'true') }}
    uses: ./.github/workflows/_deployment.yml
    secrets: inherit
    with:
      environment: prod
      run_angular: ${{ needs.changes.outputs.angular == 'true' }}
      run_socket: ${{ needs.changes.outputs.socket == 'true' }}
